{% extends "DjangoApp1/base.html" %}
{% block title %}Index{% endblock %}
{% block side_block %}{% endblock %}
{% block body_block %}
<h1>Página de inicio</h1>

        {% if bares %}
            <ul>
                {% for bar in bares %}
                <li><a href="/DjangoApp1/bar/{{ bar.slug }}">{{ bar.nombre }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No hay bares</strong>
        {% endif %}
        <a href="/DjangoApp1/add_tapa/">Añadir una nueva tapa</a><br />
{% endblock %}
