{% extends "DjangoApp1/base.html" %}
{% block title %}Index{% endblock %}
{% block side_block %}{% endblock %}
{% block body_block %}
<h1>Página de inicio</h1>

        {% if bares %}
            <ul>
                {% for bar in bares %}
                <li><a href="/DjangoApp1/bar/{{ bar.slug }}">{{ bar.nombre }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No hay bares</strong>
        {% endif %}
        <button id= "btnNormal" class=" btn-default">Letra normal</button>
        <button id= "btnBig" class=" btn-default">Letra grande</button>
        <button id= "btnVeryBig" class=" btn-default">Letra muy grande</button>
        
        <div class="col-xs-12 col-sm-6 placeholder" id="container" style="height: 300px"></div>
{% endblock %}
